@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

* {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  transition: all 0.5s ease !important;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addbtn {
  position: absolute;
  right: 20px;
  top: 69px;
  padding: 8px 25px !important;
  font-weight: bold !important;
}

.addbtn:hover {
  transform: scale(1.04, 1.04);
}

.logbtn {
  position: absolute;
  left: 10px;
  top: 69px;
  padding: 8px 25px !important;
  font-weight: bold !important;
}

.logbtn:hover {
  transform: scale(1.04, 1.04);
}

.light {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("D:\FRONT END\REACT.js\crudapp\src\Images\light theme.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  width: 32%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 15px;
  padding: 28px 45px 18px 45px;
  color: white;
}

.dark {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("D:\FRONT END\REACT.js\crudapp\src\Images\dark theme.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mode {
  position: absolute;
  top: 20px;
  right: 20px;
}
